.contactPageChild {
  position: absolute;
  top: 0;
  left: 1px;
  width: 1510px;
  display: none;
}
.architectures {
  position: relative;
  font-weight: 500;
}
.architecturesWrapper,
.itemsInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.architecturesWrapper {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-7xl) var(--padding-4xl) var(--padding-7xl)
    var(--padding-5xl);
}
.itemsInner {
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
}
.itemDetails,
.microservice {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.microservice {
  line-height: 90px;
}
.itemDetails {
  width: 42px;
  height: 77px;
  display: inline-block;
  flex-shrink: 0;
}
.items1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
  font-size: var(--font-size-61xl);
  font-family: var(--font-inter);
}
.clientServer {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 90px;
  font-weight: 500;
  font-family: inherit;
}
.prototypesInner,
.technologiesWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.technologiesWrapper {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-7xl) var(--padding-4xl) var(--padding-7xl)
    var(--padding-5xl);
  flex-shrink: 0;
}
.prototypesInner {
  flex-direction: column;
  padding: var(--padding-7xs) var(--padding-44xl) 0 0;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
}
.prototype {
  z-index: 1;
}
.prototype,
.prototype1 {
  position: relative;
  font-size: inherit;
  line-height: 90px;
  font-weight: 500;
  font-family: inherit;
  flex-shrink: 0;
  margin: 0 0 0-87px;
}
.prototypes {
  width: 140px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.items,
.minhaj {
  position: absolute;
}
.items {
  top: 1521.3px;
  left: 32px;
  border-radius: var(--br-xs);
  background-color: var(--color-whitesmoke-200);
  width: 1448px;
  height: 90px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-12xl-1);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-600);
  font-family: var(--font-archivo);
}
.minhaj {
  margin: 0;
  top: 1016.3px;
  left: 97px;
  font-size: inherit;
  line-height: 198px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
}
.content,
.content1,
.content2 {
  position: absolute;
  box-sizing: border-box;
}
.content {
  top: 792px;
  left: 31px;
  border-top: 1px solid var(--color-silver);
  width: 1450.9px;
  height: 1px;
  z-index: 2;
}
.content1,
.content2 {
  top: 57px;
  left: 1480px;
  border-right: 1px solid var(--color-silver);
  width: 1px;
  height: 926px;
  z-index: 3;
}
.content2 {
  top: 53px;
  left: 32px;
  height: 930px;
}
.bg,
.content3 {
  position: absolute;
  top: 0;
  left: 0;
}
.content3 {
  border-right: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 1px;
  height: 958px;
  z-index: 2;
}
.bg {
  backdrop-filter: blur(11px);
  background-color: var(--color-gray-400);
  width: 100%;
  height: 100%;
  z-index: 4;
}
.frameChild,
.frameChild1,
.frameInner,
.frameItem,
.rectangleIcon {
  position: absolute;
  top: 1094.3px;
  left: 97px;
  border-radius: var(--br-481xl);
  width: 263.6px;
  height: 263px;
  object-fit: cover;
  z-index: 1;
}
.frameChild1,
.frameInner,
.frameItem,
.rectangleIcon {
  left: 360.6px;
  border-radius: var(--br-5xl);
}
.frameChild1,
.frameInner,
.rectangleIcon {
  left: 624.2px;
  border-radius: var(--br-481xl);
  z-index: 2;
}
.frameChild1,
.rectangleIcon {
  left: 887.8px;
  border-radius: var(--br-5xl);
  z-index: 3;
}
.frameChild1 {
  left: 1151.4px;
  border-radius: var(--br-481xl);
  z-index: 4;
}
.backgroundIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1561.9px;
  height: 1101px;
  z-index: 5;
}
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content4 {
  top: 0;
  left: 518px;
  border-right: 1px solid var(--color-silver);
  width: 1px;
  height: 991px;
  z-index: 7;
}
.content4,
.content5,
.content6,
.content7 {
  position: absolute;
  box-sizing: border-box;
}
.content5 {
  top: 0;
  left: 995px;
  border-right: 1px solid var(--color-silver);
  width: 1px;
  height: 991px;
  z-index: 7;
}
.content6,
.content7 {
  top: 109px;
  left: calc(50% - 756.1px);
  border-top: 1px solid var(--color-silver);
  width: 1513.1px;
  height: 1px;
  z-index: 8;
}
.content7 {
  top: 874px;
  left: calc(50% - 757.1px);
}
.span {
  font-weight: 500;
}
.minhajSadik {
  margin: 0;
  flex: 1;
  font-size: inherit;
  display: inline-block;
  min-width: 432px;
  font-family: inherit;
}
.h12,
.minhajSadik,
.nameChild {
  position: relative;
}
.nameChild {
  height: 119px;
  width: 119px;
  border-radius: var(--br-40xl-5);
  object-fit: cover;
}
.h12 {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 38px;
}
.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.softwareEngineer {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-gray-800);
}
.buildingScalableAnd,
.devopsSpecialist {
  align-self: stretch;
  position: relative;
  text-align: right;
}
.devopsSpecialist {
  margin: 0;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-gray-800);
}
.buildingScalableAnd {
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
}
.ctaContent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.exploreMyWork {
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
}
.buttonContactUs {
  height: 56px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-goldenrod-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-3xl);
}
.vector {
  margin: 0;
  height: 15px;
  width: 14px;
  position: relative;
}
.exploreButton,
.iconPlay {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.iconPlay {
  border-radius: var(--br-xs);
  background-color: var(--color-goldenrod-100);
  justify-content: center;
  padding: var(--padding-xl-5) var(--padding-2xl);
}
.exploreButton {
  justify-content: flex-start;
}
.contactMe {
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  min-width: 95px;
}
.buttonContactUs1 {
  height: 56px;
  border-radius: var(--br-xs);
  border: 1px solid var(--gray);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-3xl);
  color: var(--color-gray-100);
}
.buttonDiv,
.buttonOne,
.title {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.buttonOne {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.buttonDiv,
.title {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
}
.buttonDiv {
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.title {
  padding: 0 var(--padding-81xl);
  box-sizing: border-box;
  gap: var(--gap-29xl);
}
.followMinhajOnlineContainer {
  width: 156px;
  position: relative;
  letter-spacing: -0.08px;
  display: inline-block;
  flex-shrink: 0;
}
.github1 {
  margin: 0;
  height: 28px;
  width: 28px;
  position: relative;
}
.github2 {
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
  min-width: 83px;
}
.github,
.githubOne {
  display: flex;
  flex-direction: row;
}
.github {
  cursor: pointer;
  border: 2px solid var(--color-gray-100);
  padding: var(--padding-mini) var(--padding-24xl);
  background-color: var(--color-white);
  border-radius: var(--br-81xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.github:hover {
  background-color: var(--color-gainsboro);
  border: 2px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.githubOne {
  align-items: flex-end;
  justify-content: flex-start;
  row-gap: 20px;
  max-width: 100%;
}
.followMinhajOnlineParent,
.titleInner {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.followMinhajOnlineParent {
  width: 1316.9px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
}
.titleInner {
  position: absolute;
  top: 133px;
  left: 0;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-71xl);
  z-index: 1;
}
.getInTouch {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
}
.inputFields {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.submit {
  position: relative;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-archivo);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.buttonContactUs2 {
  cursor: pointer;
  border: 1px solid var(--color-goldenrod-100);
  padding: var(--padding-base) var(--padding-3xl);
  background-color: var(--color-gray-100);
  height: 56px;
  flex: 1;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.buttonContactUs2:hover {
  background-color: var(--color-dimgray-100);
  border: 1px solid var(--color-goldenrod-200);
  box-sizing: border-box;
}
.sentIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.iconPlay1 {
  border-radius: var(--br-xs);
  background-color: var(--color-goldenrod-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
}
.contactForm,
.form {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form {
  margin: 0;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.contactForm {
  border-radius: var(--br-5xl);
  background-color: var(--color-white);
  justify-content: center;
  padding: var(--padding-19xl) 39px var(--padding-19xl) var(--padding-19xl);
  gap: var(--gap-base);
}
.githubIcon {
  height: 18px;
  width: 18px;
  position: relative;
}
.github3 {
  cursor: pointer;
  border: 2px solid var(--color-gray-100);
  padding: var(--padding-2xs) var(--padding-10xl);
  background-color: var(--color-white);
  border-radius: var(--br-81xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.github3:hover,
.hackerrankLinkTwo:hover {
  background-color: var(--color-gainsboro);
  border: 2px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.hackerrankTwoChild {
  height: 110.2px;
  width: 171.5px;
  border-radius: var(--br-81xl);
  object-fit: contain;
}
.hackerrankIcon {
  height: 28px;
  width: 28px;
  position: relative;
}
.hackerrank {
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-gray-100);
  text-align: center;
}
.hackerrankLinkTwo {
  cursor: pointer;
  border: 2px solid var(--color-gray-100);
  padding: var(--padding-2xs) var(--padding-10xl);
  background-color: var(--color-white);
  flex: 1;
  border-radius: var(--br-81xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  z-index: 1;
  margin-left: -44px;
}
.hackerrankTwo,
.socialLinksTwo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.hackerrankTwo {
  flex: 1;
  min-width: 216px;
  z-index: 1;
  margin-left: -10px;
}
.socialLinksTwo {
  align-self: stretch;
  flex-wrap: wrap;
  align-content: flex-end;
  padding: var(--padding-5xl) 0 0;
  box-sizing: border-box;
  row-gap: 20px;
}
.mail01Icon {
  height: 32px;
  width: 32px;
  position: relative;
}
.supportingText {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.experinced {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.supportingText1 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.linksTwo,
.spesility,
.support {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.support {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
}
.linksTwo,
.spesility {
  flex-direction: column;
  align-items: flex-start;
}
.spesility {
  border-radius: var(--br-5xl);
  background-color: var(--color-gray-100);
  padding: var(--padding-5xl) var(--padding-44xl) var(--padding-5xl)
    var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  flex-shrink: 0;
}
.linksTwo {
  color: var(--color-white);
}
.contactFormParent,
.iconPlay2 {
  position: absolute;
  display: flex;
  z-index: 6;
}
.contactFormParent {
  top: 0;
  left: 517px;
  width: 477px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
}
.iconPlay2 {
  top: 16px;
  left: 1010px;
  border-radius: var(--br-xs);
  background-color: var(--color-goldenrod-100);
  height: 56px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-base);
  box-sizing: border-box;
  cursor: pointer;
}
.titleInnerParent {
  align-self: stretch;
  height: 843.3px;
  position: relative;
  flex-shrink: 0;
  max-width: 100%;
}
.aboutInnerTwoChild {
  align-self: stretch;
  height: 263px;
}
.visionGoalParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
  z-index: 1;
  margin-top: -17px;
}
.aboutInnerOne,
.contentAboutUs {
  flex-direction: column;
  flex-shrink: 0;
}
.aboutInnerOne {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contentAboutUs {
  height: 30.7px;
  flex: 1;
  border-radius: var(--br-5xl);
  padding: var(--padding-46xl) var(--padding-46xl) 0;
  background-image: url(/public/content-about-us1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.contentAboutUs,
.contentAboutUsWrapper,
.leftInnerParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.contentAboutUsWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-12xl);
  min-height: 554px;
}
.leftInnerParent {
  position: absolute;
  top: 32px;
  left: 1px;
  width: 100%;
  height: 950px;
  flex-direction: column;
  padding: 0 0 30.7px;
  text-align: center;
  font-size: var(--font-size-90xl);
  color: var(--color-gray-100);
  font-family: var(--font-archivo);
}
.contactPage {
  width: 100%;
  height: 982px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-320xl);
  color: var(--color-gray-300);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1425px) {
  .items {
    flex-wrap: wrap;
  }
  .contentAboutUs {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .contactPage {
    height: auto;
    min-height: 982;
  }
}
@media screen and (max-width: 1200px) {
  .followMinhajOnlineParent,
  .visionGoalParent {
    flex-wrap: wrap;
  }
  .contentAboutUs {
    height: auto;
  }
}
@media screen and (max-width: 825px) {
  .clientServer,
  .microservice,
  .prototype,
  .prototype1 {
    font-size: var(--font-size-7xl);
    line-height: 72px;
  }
  .minhaj {
    font-size: var(--font-size-117xl);
    line-height: 119px;
  }
  .minhajSadik {
    min-width: 100%;
  }
  .h12,
  .minhajSadik {
    font-size: var(--font-size-35xl);
  }
  .name {
    flex-wrap: wrap;
  }
  .devopsSpecialist,
  .softwareEngineer {
    font-size: var(--font-size-35xl);
  }
  .buttonOne {
    flex-wrap: wrap;
  }
  .title {
    gap: var(--gap-5xl);
    padding-left: var(--padding-31xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
  .githubOne {
    flex-wrap: wrap;
  }
  .titleInner {
    gap: var(--gap-26xl);
  }
  .titleInnerParent {
    height: auto;
    min-height: 843.3;
  }
  .leftInnerParent {
    height: auto;
  }
}
@media screen and (max-width: 450px) {
  .architectures {
    font-size: var(--font-size-lgi);
  }
  .clientServer,
  .microservice,
  .prototype,
  .prototype1 {
    font-size: var(--font-size-lgi);
    line-height: 54px;
  }
  .minhaj {
    font-size: var(--font-size-66xl);
    line-height: 79px;
  }
  .devopsSpecialist,
  .h12,
  .minhajSadik,
  .softwareEngineer {
    font-size: var(--font-size-14xl);
  }
  .buildingScalableAnd {
    font-size: var(--font-size-lgi);
  }
  .title {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .followMinhajOnlineContainer,
  .github2 {
    font-size: var(--font-size-lgi);
  }
  .titleInner {
    gap: var(--gap-3xl);
  }
  .getInTouch {
    font-size: var(--font-size-lgi);
  }
  .hackerrankTwo {
    margin-left: 0;
  }
  .supportingText,
  .supportingText1 {
    font-size: var(--font-size-lgi);
    line-height: 19px;
  }
  .support {
    flex-wrap: wrap;
  }
}
