.courseViewPageChild {
  align-self: stretch;
  display: none;
  z-index: 0;
}
.frameChild {
  height: 958px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-silver);
  box-sizing: border-box;
  z-index: 2;
}
.exploreMyWork {
  position: relative;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-archivo);
  color: var(--color-white);
  text-align: left;
}
.buttonContactUs {
  cursor: pointer;
  border: 1px solid var(--color-goldenrod-100);
  padding: var(--padding-base) var(--padding-3xl);
  background-color: var(--color-gray-100);
  height: 56px;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.buttonContactUs:hover {
  background-color: var(--color-dimgray-100);
  border: 1px solid var(--color-goldenrod-200);
  box-sizing: border-box;
}
.playIcon {
  height: 15px;
  width: 14px;
  position: relative;
}
.exploreButtonContainer,
.iconPlay {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.iconPlay {
  border-radius: var(--br-xs);
  background-color: var(--color-goldenrod-100);
  justify-content: center;
  padding: var(--padding-xl-5) var(--padding-2xl);
}
.exploreButtonContainer {
  justify-content: flex-start;
}
.contactMe {
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  min-width: 95px;
}
.buttonContactUs1 {
  height: 56px;
  border-radius: var(--br-xs);
  border: 1px solid var(--gray);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-3xl);
}
.buttonDiv,
.exploreButtonContainerParent,
.title {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.exploreButtonContainerParent {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.buttonDiv,
.title {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
}
.title {
  padding: 0 var(--padding-81xl);
  box-sizing: border-box;
  gap: var(--gap-29xl);
}
.minhaj {
  font-weight: 500;
}
.followMinhajOnlineContainer {
  margin: 0;
  height: 58px;
  width: 156px;
  position: relative;
  font-size: inherit;
  display: inline-block;
  flex-shrink: 0;
  font-family: inherit;
}
.githubIcon {
  height: 28px;
  width: 28px;
  position: relative;
}
.github1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 83px;
}
.github,
.socialIcons {
  display: flex;
  flex-direction: row;
}
.github {
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  border: 2px solid var(--color-gray-100);
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-24xl);
  gap: var(--gap-3xs);
}
.socialIcons {
  align-items: flex-end;
  justify-content: flex-start;
  row-gap: 20px;
  max-width: 100%;
  text-align: center;
}
.socialLinks,
.titleParent {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.socialLinks {
  width: 1316.9px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
}
.titleParent {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-71xl);
  z-index: 1;
}
.cancel01Icon {
  height: 24px;
  width: 24px;
  position: relative;
}
.footer,
.iconPlay1 {
  display: flex;
  flex-direction: row;
}
.iconPlay1 {
  height: 56px;
  border-radius: var(--br-xs);
  background-color: var(--color-goldenrod-100);
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-base);
  box-sizing: border-box;
  cursor: pointer;
  z-index: 6;
}
.footer {
  margin: 0 !important;
  position: absolute;
  top: 44px;
  left: 1399px;
  align-items: flex-start;
  justify-content: flex-start;
}
.contentDividerIcon,
.h3 {
  align-self: stretch;
  position: relative;
}
.contentDividerIcon {
  height: 368px;
  border-radius: var(--br-base);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.h3 {
  margin: 0;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 600;
  font-family: inherit;
  color: var(--color-darkslategray-200);
}
.peragraph1 {
  font-size: var(--font-size-base);
}
.peragraph1,
.peragraph2 {
  position: relative;
  line-height: 24px;
}
.calendarContent,
.texts {
  display: flex;
  justify-content: flex-start;
}
.calendarContent {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--font-size-sm);
}
.texts {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  font-size: var(--font-size-5xl);
  color: var(--greyscale-400);
}
.h31 {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
}
.checkmarkContent,
.checkmarkItems {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.checkmarkItems {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  min-height: 156px;
  gap: var(--gap-xl);
}
.checkmarkContent {
  border-radius: var(--br-base);
  background-color: var(--color-whitesmoke-100);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
}
.video02 {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.peragraph21 {
  position: relative;
  line-height: 21px;
  font-weight: 500;
}
.videoContainers,
.videoContainers2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.videoContainers2 {
  padding: 0 var(--padding-xs) 0 0;
}
.contentContainer,
.videoContent,
.videoItems {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.videoItems {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0 var(--padding-2xl) 0 0;
  gap: 30px 20px;
  font-size: var(--font-size-sm);
  color: var(--greyscale-400);
}
.contentContainer,
.videoContent {
  flex-direction: column;
}
.videoContent {
  align-self: stretch;
  gap: var(--gap-13xl);
}
.contentContainer {
  flex: 1;
  background-color: var(--color-white);
  border-right: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  padding: var(--padding-5xl) var(--padding-4xl);
  gap: var(--gap-5xl);
  max-width: calc(100% - 459px);
}
.h33 {
  text-decoration: none;
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  color: inherit;
}
.h3Parent {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-700);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-5xl) 14px;
  gap: var(--gap-xl);
}
.h34 {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 119px;
}
.videoPlayerButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.h35 {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 41px;
}
.videoPlayerContainers,
.videoPlayerProgress {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.videoPlayerProgress {
  background-color: var(--color-whitesmoke-100);
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xs);
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
}
.videoPlayerContainers {
  align-self: stretch;
  justify-content: space-between;
  padding: var(--padding-9xs) 0;
  gap: var(--gap-xl);
}
.h36,
.h37 {
  display: inline-block;
}
.h36 {
  text-decoration: none;
  position: relative;
  text-transform: capitalize;
  color: inherit;
  min-width: 57px;
}
.h37 {
  min-width: 38px;
}
.h37,
.h38,
.h39 {
  position: relative;
  text-transform: capitalize;
}
.h39 {
  display: inline-block;
  min-width: 40px;
}
.playCircle {
  cursor: pointer;
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.h310,
.h311 {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 60px;
}
.h311 {
  min-width: 39px;
}
.moduleVideoPlayers {
  background-color: var(--color-whitesmoke-100);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-5xl);
}
.courseModules,
.frameContainer,
.moduleVideoPlayers {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.courseModules {
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-400);
}
.frameContainer {
  align-items: flex-start;
  justify-content: flex-start;
}
.h312 {
  position: relative;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-darkslategray-200);
  text-align: left;
  display: inline-block;
  min-width: 116px;
}
.courseModuleContainer,
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.heading {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid) 147px;
  background-color: var(--color-goldenrod-100);
  border-radius: var(--br-31xl);
  justify-content: center;
  max-width: 100%;
}
.heading:hover {
  background-color: var(--color-goldenrod-200);
}
.courseModuleContainer {
  height: 884px;
  width: 459px;
  background-color: var(--color-white);
  justify-content: space-between;
  padding: var(--padding-5xl) 0;
  max-width: calc(100% - 778px);
}
.frameGroup,
.pageContent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pageContent {
  height: 884px;
  border-radius: var(--br-13xl);
  border: 1px solid var(--color-gray-700);
  overflow-y: auto;
  flex-shrink: 0;
  flex-direction: row;
  z-index: 6;
  color: var(--color-darkslategray-200);
  font-family: var(--font-inter);
}
.frameGroup {
  flex-direction: column;
  padding: var(--padding-mid) 136px 18.3px 137px;
  position: relative;
}
.placeholder {
  align-self: stretch;
  height: 263px;
}
.contentAboutUs,
.innerAboutContainer,
.visionGoal {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.visionGoal {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xl);
  z-index: 1;
  margin-top: -17px;
}
.contentAboutUs,
.innerAboutContainer {
  flex-direction: column;
}
.innerAboutContainer {
  align-self: stretch;
}
.contentAboutUs {
  height: 30.7px;
  flex: 1;
  border-radius: var(--br-5xl);
  padding: var(--padding-46xl) var(--padding-46xl) 0;
  box-sizing: border-box;
  background-image: url(/public/content-about-us1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.contentAboutUsWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-12xl);
  box-sizing: border-box;
  min-height: 554px;
}
.contentAboutUsWrapper,
.frameParent,
.frameWrapper,
.lineParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent {
  align-self: stretch;
  flex-direction: column;
  flex-shrink: 0;
}
.frameWrapper,
.lineParent {
  box-sizing: border-box;
}
.frameWrapper {
  height: 957px;
  flex: 1;
  flex-direction: column;
  padding: var(--padding-13xl) 0 0;
}
.lineParent {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 25px;
  gap: 1px;
  flex-shrink: 0;
}
.bg,
.minhaj1 {
  position: absolute;
  margin: 0 !important;
}
.minhaj1 {
  right: 90px;
  bottom: -232.3px;
  font-size: var(--font-size-320xl);
  line-height: 198px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-gray-300);
}
.bg {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(11px);
  background-color: var(--color-gray-400);
  z-index: 4;
}
.shapeCollectionIcon {
  position: absolute;
  top: 1094.3px;
  left: 97px;
  border-radius: var(--br-481xl);
  width: 263.6px;
  height: 263px;
  object-fit: cover;
  z-index: 1;
}
.shapeCollectionIcon1,
.shapeCollectionIcon2,
.shapeCollectionIcon3,
.shapeCollectionIcon4 {
  position: absolute;
  top: 1094.3px;
  left: 360.6px;
  border-radius: var(--br-5xl);
  width: 263.6px;
  height: 263px;
  object-fit: cover;
  z-index: 1;
}
.shapeCollectionIcon2,
.shapeCollectionIcon3,
.shapeCollectionIcon4 {
  left: 624.2px;
  border-radius: var(--br-481xl);
}
.shapeCollectionIcon3,
.shapeCollectionIcon4 {
  left: 887.8px;
  border-radius: var(--br-5xl);
  z-index: 2;
}
.shapeCollectionIcon4 {
  left: 1151.4px;
  border-radius: var(--br-481xl);
  z-index: 1;
}
.divider,
.frameInner,
.frameItem {
  position: absolute;
  margin: 0 !important;
  box-sizing: border-box;
}
.divider {
  height: 1px;
  width: 1450.9px;
  bottom: 308px;
  left: 31px;
  border-top: 1px solid var(--color-silver);
  z-index: 2;
}
.frameInner,
.frameItem {
  width: 1px;
  border-right: 1px solid var(--color-silver);
  z-index: 3;
}
.frameItem {
  height: 926px;
  top: 57px;
  right: 80.9px;
}
.frameInner {
  height: 930px;
  top: 53px;
  left: 32px;
}
.backgroundIcon {
  height: 1101px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  z-index: 5;
}
.dividerParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1561.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.shapesContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.architectures {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.itemCollection,
.itemPair {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.itemPair {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-7xl) var(--padding-4xl) var(--padding-7xl)
    var(--padding-5xl);
}
.itemCollection {
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
}
.h1,
.microservice {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.microservice {
  line-height: 90px;
}
.h1 {
  width: 42px;
  height: 77px;
  display: inline-block;
  flex-shrink: 0;
}
.itemCollection1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
  font-size: var(--font-size-61xl);
  font-family: var(--font-inter);
}
.clientServer,
.prototype1 {
  font-size: inherit;
  line-height: 90px;
  font-weight: 500;
  font-family: inherit;
}
.clientServer {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.prototype1 {
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -204px;
  flex-shrink: 0;
  z-index: 1;
}
.items {
  align-self: stretch;
  width: 1448px;
  border-radius: var(--br-xs);
  background-color: var(--color-whitesmoke-200);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl);
  position: relative;
  gap: var(--gap-12xl-1);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-600);
  font-family: var(--font-archivo);
}
.courseViewPage,
.items,
.itemsContainer {
  display: flex;
  box-sizing: border-box;
}
.itemsContainer {
  align-self: stretch;
  height: 90px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xl) 0 var(--padding-13xl);
  max-width: 100%;
}
.courseViewPage {
  width: 100%;
  height: 982px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: 539.3px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
  font-family: var(--font-archivo);
}
@media screen and (max-width: 1482px) {
  .contentContainer {
    display: none;
  }
  .courseModuleContainer {
    max-width: 100%;
  }
  .items {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1225px) {
  .socialLinks {
    flex-wrap: wrap;
  }
  .contentContainer {
    max-width: 100%;
  }
  .courseModuleContainer {
    display: none;
  }
  .visionGoal {
    flex-wrap: wrap;
  }
  .contentAboutUs {
    height: auto;
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .frameWrapper {
    height: auto;
  }
  .items {
    flex-wrap: wrap;
  }
  .courseViewPage {
    height: auto;
  }
}
@media screen and (max-width: 850px) {
  .exploreButtonContainerParent {
    flex-wrap: wrap;
  }
  .title {
    gap: var(--gap-5xl);
    padding-left: var(--padding-31xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
  .socialIcons {
    flex-wrap: wrap;
  }
  .titleParent {
    gap: var(--gap-26xl);
  }
  .checkmarkContent,
  .videoContent {
    gap: var(--gap-base);
  }
  .contentContainer,
  .courseModuleContainer {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .frameGroup {
    padding-left: var(--padding-49xl);
    padding-right: var(--padding-49xl);
    box-sizing: border-box;
  }
  .contentAboutUs {
    padding-top: var(--padding-23xl);
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
  .minhaj1 {
    font-size: var(--font-size-117xl);
    line-height: 119px;
  }
  .clientServer,
  .microservice,
  .prototype1 {
    font-size: var(--font-size-7xl);
    line-height: 72px;
  }
  .items {
    gap: var(--gap-base);
    flex-wrap: wrap;
  }
  .courseViewPage {
    gap: 270px;
  }
}
@media screen and (max-width: 450px) {
  .title {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .followMinhajOnlineContainer,
  .github1 {
    font-size: var(--font-size-lgi);
  }
  .titleParent {
    gap: var(--gap-3xl);
  }
  .h3 {
    font-size: var(--font-size-lgi);
  }
  .videoPlayerContainers {
    flex-wrap: wrap;
  }
  .heading {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .pageContent {
    height: auto;
  }
  .frameGroup {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .minhaj1 {
    font-size: var(--font-size-66xl);
    line-height: 79px;
  }
  .architectures {
    font-size: var(--font-size-lgi);
  }
  .clientServer,
  .microservice,
  .prototype1 {
    font-size: var(--font-size-lgi);
    line-height: 54px;
  }
  .items {
    flex-wrap: wrap;
  }
  .courseViewPage {
    gap: 135px;
  }
}
