.checkmarkIconSet {
  width: 14px;
  height: 11px;
  position: relative;
}
.tick02 {
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-8xs);
}
.peragraph2 {
  flex: 1;
  position: relative;
  line-height: 21px;
  display: inline-block;
  min-width: 185px;
}
.checkmarkContainers {
  width: 324px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--greyscale-400);
  font-family: var(--font-inter);
}
@media screen and (max-width: 450px) {
  .checkmarkContainers {
    flex-wrap: wrap;
  }
}
