.aroowUpIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.h3 {
  text-decoration: none;
  position: relative;
  text-transform: capitalize;
  color: inherit;
}
.moduleHeader {
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.moduleContent,
.moduleDurationHeader,
.moduleHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.moduleDurationHeader {
  background-color: var(--color-whitesmoke-100);
  justify-content: center;
  padding: var(--padding-3xs);
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-300);
}
.moduleContent {
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.h32 {
  position: relative;
  text-transform: capitalize;
}
.durationHourContainers {
  background-color: var(--color-whitesmoke-100);
  justify-content: center;
  padding: var(--padding-3xs);
}
.courseModule,
.duration,
.durationHourContainers {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.duration {
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--font-size-sm);
}
.courseModule {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-700);
  justify-content: space-between;
  padding: var(--padding-2xs) var(--padding-5xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-200);
  font-family: var(--font-inter);
}
