.span {
  font-weight: 500;
}
.minhajSadik {
  margin: 0;
  flex: 1;
  font-size: inherit;
  display: inline-block;
  min-width: 432px;
  font-family: inherit;
}
.h1,
.minhajSadik,
.nameChild {
  position: relative;
}
.nameChild {
  height: 119px;
  width: 119px;
  border-radius: var(--br-40xl-5);
  object-fit: cover;
}
.h1 {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 38px;
}
.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.softwareEngineer {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-gray-800);
}
.buildingScalableAnd,
.devopsSpecialist {
  margin: 0;
  align-self: stretch;
  position: relative;
  text-align: right;
}
.devopsSpecialist {
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-gray-800);
}
.buildingScalableAnd {
  font-size: var(--font-size-5xl);
  font-weight: 400;
  font-family: var(--font-inter);
}
.ctaContent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-90xl);
  color: var(--color-gray-100);
  font-family: var(--font-archivo);
}
@media screen and (max-width: 850px) {
  .minhajSadik {
    min-width: 100%;
  }
  .h1,
  .minhajSadik {
    font-size: var(--font-size-35xl);
  }
  .name {
    flex-wrap: wrap;
  }
  .devopsSpecialist,
  .softwareEngineer {
    font-size: var(--font-size-35xl);
  }
}
@media screen and (max-width: 450px) {
  .devopsSpecialist,
  .h1,
  .minhajSadik,
  .softwareEngineer {
    font-size: var(--font-size-14xl);
  }
  .buildingScalableAnd {
    font-size: var(--font-size-lgi);
  }
}
