.readyToElevate {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  background: linear-gradient(180deg, #fff, #999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mail01Icon {
  height: 24px;
  width: 24px;
  position: relative;
}
.supportingText {
  position: relative;
  line-height: 24px;
}
.callToAction,
.experinced,
.spesility {
  display: flex;
  justify-content: flex-start;
}
.experinced {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
}
.callToAction,
.spesility {
  align-items: flex-start;
  max-width: 100%;
}
.spesility {
  flex-direction: row;
  gap: var(--gap-13xl);
  font-size: var(--font-size-base);
}
.callToAction {
  width: 655px;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.supportingText2 {
  position: relative;
  line-height: 24px;
  background: linear-gradient(180deg, #fff, #999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contactMinhaj {
  position: relative;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-archivo);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 124px;
}
.buttonContactUs {
  cursor: pointer;
  border: 1px solid var(--color-goldenrod-100);
  padding: var(--padding-base) var(--padding-3xl);
  background-color: var(--color-gray-100);
  height: 56px;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.buttonContactUs:hover {
  background-color: var(--color-dimgray-100);
  border: 1px solid var(--color-goldenrod-200);
  box-sizing: border-box;
}
.arrowUpLeft01Icon {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: contain;
}
.iconPlay {
  border-radius: var(--br-xs);
  background-color: var(--color-goldenrod-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
}
.contactButton,
.copyright,
.main {
  display: flex;
  justify-content: flex-start;
}
.contactButton {
  flex-direction: row;
  align-items: center;
  row-gap: 20px;
}
.copyright,
.main {
  align-items: flex-start;
  max-width: 100%;
}
.copyright {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
  min-width: 346px;
  font-size: var(--font-size-base);
}
.main {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--color-darkslategray-600);
  flex-direction: row;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-63xl);
  text-align: left;
  font-size: var(--font-size-23xl);
  color: var(--color-gray-1000);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1225px) {
  .callToAction {
    flex: 1;
    min-width: 100%;
  }
  .main {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 850px) {
  .readyToElevate {
    font-size: var(--font-size-15xl);
  }
  .spesility {
    flex-wrap: wrap;
  }
  .copyright {
    min-width: 100%;
  }
  .main {
    gap: var(--gap-22xl);
  }
}
@media screen and (max-width: 450px) {
  .readyToElevate {
    font-size: var(--font-size-6xl);
  }
  .spesility {
    gap: var(--gap-base);
  }
  .contactButton {
    flex-wrap: wrap;
  }
  .main {
    gap: var(--gap-xl);
  }
}
