.minhajVision {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.vision1Icon {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.visionGoal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.iAmMinhaj {
  width: 583px;
  position: relative;
  font-size: var(--font-size-lg);
  color: var(--color-gray-500);
  display: inline-block;
  max-width: 100%;
}
.visionMissionPair {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color-darkslategray-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-13xl) var(--padding-xl) var(--padding-13xl)
    var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  min-width: 485px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-gray-400);
  font-family: var(--font-inter);
}
@media screen and (max-width: 850px) {
  .visionMissionPair {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .minhajVision {
    font-size: var(--font-size-2xl);
  }
  .visionGoal {
    flex-wrap: wrap;
  }
}
